<div class="footer d-flex justify-content-between align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-2 ms-2">
                <h2>Equitech</h2>
                <img src="assets/equitech_icon.jpg" alt="Equitech Logo" class="equitech_logo"
                    style="width: 150px; height: auto;">
            </div>
            <div class="col-5 equitech_footer">
                <div class="equitech_footer-info pt-5">
                    <p>Surabaya, Indonesia</p>
                    <p>Non-Profit Organisation</p>
                    <p>
                        <a href="https://www.instagram.com/equitech_org/" class="social_icon-link" target="_blank"><i
                                class="fab fa-instagram"></i> equitech_org</a>
                    </p>
                    <p>
                        <a href="mailto:equitechinitiative@gmail.com" class="social_icon-link" target="_blank"><i
                                class="fa-regular fa-envelope"></i> equitechinitiative@gmail.com
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-2">
                <h2>SCNHS</h2>
                <img src="assets/nhs_icon.jpg" alt="SCNHS Logo" class="scnhs_logo" style="width: 150px; height: auto;">
            </div>
            <div class="col scnhs_footer">

                <div class="scnhs_footer-info pt-5">
                    <p>Surabaya, Indonesia</p>
                    <p>Non-Profit Organisation</p>
                    <p>
                        <a href="https://www.instagram.com/nhs_sekolahciputra/" class="social_icon-link"
                            target="_blank"><i class="fab fa-instagram"></i> nhs_sekolahciputra</a>
                    </p>
                    <p>
                        <a href="mailto:nhs@sekolahciputra.sch.id" class="social_icon-link" target="_blank"><i
                                class="fa-regular fa-envelope"></i> nhs@sekolahciputra.sch.id
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_tag">
    <p>2025 by Equitech & SCNHS</p>
</div>